<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
	<dubbo:service interface="com.zcbspay.platform.member.merchant.service.EnterpriseRealnameApplyService" ref="enterpriseRealnameApplyServiceImpl" retries="0" timeout="30000" version="1.0"/>
	<dubbo:service interface="com.zcbspay.platform.member.merchant.service.EnterpriseService" ref="enterpriseServiceImpl" retries="0" timeout="30000" version="1.0"/>
	<dubbo:service interface="com.zcbspay.platform.member.merchant.service.MerchMKService" ref="merchMKServiceImpl" retries="0" timeout="30000" version="1.0"/>
	<dubbo:service interface="com.zcbspay.platform.member.merchant.service.MerchService" ref="merchServiceImpl" retries="0" timeout="30000" version="1.0"/>
	<dubbo:annotation package="com.zcbspay.platform.member.merchant"/>
</beans>